/*

  ## TABLE OF CONTENTS

  1. text align
  2. font weight
  3. font family
  4. responsive grid
  5. header
  6. home elements customizations
  7. advisor
  8. team
  9. parallax
  10. WPBakery fixes
  11. carousel fixes
  11. z-index classes

*/

/* text align */

.text-left {
  text-align: right !important;
}

.text-right {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

/* font-weight */

.fw100 {
  font-weight: 100;
}

.fw200 {
  font-weight: 200;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

/* font-family */

.f-catamaran {
  font-family: Catamaran !important;
}

.f-raleway {
  font-family: Raleway !important;
}

.f-roboto {
  font-family: Roboto !important;
}

/* response grid */

@media (max-width: 992px) {
  body .md-center {
    text-align: center !important;
  }
  body .md-left {
    text-align: right !important;
  }
  body .md-right {
    text-align: left !important;
  }
  body .md-hidden {
    display: none !important;
  }
  body .md-block {
    width: 100% !important;
  }
  body .md-bg-off {
    background-image: none !important;
  }
}

@media (max-width: 768px) {
  body .sm-center {
    text-align: center !important;
  }
  body .sm-left {
    text-align: right !important;
  }
  body .sm-right {
    text-align: left !important;
  }
  body .sm-hidden {
    display: none !important;
  }
  body .sm-block {
    width: 100% !important;
  }
  body .sm-bg-off {
    background-image: none !important;
  }
}

@media (max-width: 576px) {
  body .xs-center {
    text-align: center !important;
  }
  body .xs-left {
    text-align: right !important;
  }
  body .xs-right {
    text-align: left !important;
  }
  body .xs-hidden {
    display: none !important;
  }
  body .sm-block {
    width: 100% !important;
  }
  body .xs-bg-off {
    background-image: none !important;
  }
}

@media (min-width: 768px) {
  .header, .header.sticky {
    padding: 20px 40px;
    height: auto
  }
}

/* header */

.wrapper {
  max-width: 100%;
}

.animated {
  transition-timing-function: ease;
  animation-duration: 1.5s !important;
}

.pt-44 {
  padding-top: 44px;
}

.btn-close {
  cursor: pointer;
}

.btn-close.align-right {
  position: absolute;
  left: 10px;
}

.header, .header.sticky {
  height: 90px;
}

.header, .header.sticky, .fixed-menu {
  z-index: 9999;
}

.logo__img.bg-none, .header.sticky .logo__img.bg-none {
  background-image: none !important;
  width: inherit;
  height: inherit;
}

.sticky-logo {
  display: none;
}

.header .sticky-logo, .header.sticky .static-logo, .fixed-menu .static-logo {
  display: none;
}

.header.sticky-off .sticky-logo {
  display: none;
}

.header.sticky-on.sticky .sticky-logo {
  display: block;
}

.fixed-menu .nt-logo .static-logo, .fixed-menu .nt-logo .sticky-logo, .fixed-menu .nt-logo .nt-text-logo {
  display: none;
}

.fixed-menu .nt-logo.mob-static-logo .static-logo {
  display: block;
}

.fixed-menu .nt-logo.mob-sticky-logo .sticky-logo {
  display: block;
}

.fixed-menu .nt-logo.mob-text-logo .nt-text-logo {
  display: block;
}

.fixed-menu .nt-logo.mob-text-logo .nt-img-logo {
  display: none;
}

.fixed-menu .nt-logo.mob-static-text-logo .static-logo, .fixed-menu .nt-logo.mob-static-text-logo .nt-text-logo {
  display: block;
}

.fixed-menu .nt-logo.mob-sticky-text-logo .sticky-logo, .fixed-menu .nt-logo.mob-sticky-text-logo .nt-text-logo {
  display: block;
}

.fixed-menu .nt-logo.mob-logo-off {
  display: none;
}

.select-styled:after {
  background-image: url(../images/down-chevron.svg);
}

.home5 .select-styled:after {
  background-image: url(../images/down-chevron-blue.svg);
}

.home6 .select-styled:after {
  background-image: url(../images/down-chevron-blue.svg);
}

.fixed-menu .select-styled:after {
  background-image: url(../images/down-chevron-blue.svg);
}

/* shortcode element customize */

/* home 1 */

.home1 .promo {
  height: 970px;
}

@media (max-width: 575.98px) {
  .home1 .promo {
    height: auto;
  }
}

.home1 h2 {
  color: #51475a;
}

.home1 h2 {
  font-family: Raleway;
  font-weight: 700;
}

.home1 h4 {
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #f4929b;
  text-transform: uppercase;
  font-family: Catamaran;
  font-weight: 700;
  margin-bottom: 30px;
}

.list-check, .list-marker {
  color: #777;
  margin-bottom: 12px;
  padding-right: 23px;
  position: relative;
  line-height: 30px;
}

.home1 .process__step:nth-child(1):after {
  left: -190px;
}

.home1 .process__step:nth-child(2):after {
  left: -200px;
}

@media (max-width: 1199.98px) {
  .home1 .process__step:nth-child(1):after {
    left: -125px;
  }
  .home1 .process__step:nth-child(2):after {
    left: -145px;
  }
}

@media (max-width: 991.98px) {
  .home1 .process__step:after {
    background-position: -82px 0;
    width: 75px;
  }
  .home1 .process__step:nth-child(1):after {
    left: -62px;
  }
  .home1 .process__step:nth-child(2):after {
    left: -74px;
  }
}

@media (max-width: 767.98px) {
  .home1 .process__step:nth-child(1):after, .home1 .process__step:nth-child(2):after, .home1 .process__step:nth-child(3):after, .home1 .process__step:nth-child(4):after {
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(90deg);
    -ms-transform: translateX(-50%) rotate(90deg);
    transform: translateX(-50%) rotate(90deg);
  }
  .home1 .process__step:after {
    width: 50px;
    background-position: -92px 0;
  }
}

.home1 .video {
  position: relative;
  display: block;
  margin: 0 auto;
}

.home1 .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.home1 .video__btn {
  -webkit-box-shadow: 0 0 21px rgba(56, 56, 56, .79);
  box-shadow: 0 0 21px rgba(56, 56, 56, .79);
  background-color: #8761a8;
  width: 115px;
  height: 115px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  -webkit-transition: background-color .4s, -webkit-box-shadow .4s;
  transition: background-color .4s, -webkit-box-shadow .4s;
  -o-transition: box-shadow .4s, background-color .4s;
  transition: box-shadow .4s, background-color .4s;
  transition: box-shadow .4s, background-color .4s, -webkit-box-shadow .4s;
}

.home1 .video__btn:hover {
  background-color: #333;
}

.home1 .video__btn img {
  position: absolute;
  top: 50%;
  right: 55%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

/* home 2 */

.doc {
  transition: all 0.4s ease !important;
}

.press-carousel2 .owl-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px
}

.press-carousel2 .owl-dot {
  width: 10px;
  height: 10px;
  background-color: #dedede;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 10px;
  -webkit-transition: background .4s, width .4, height .4s;
  -o-transition: background .4s, width .4, height .4s;
  transition: background .4s, width .4, height .4s
}

.press-carousel2 .owl-dot:last-child {
  margin-left: 0
}

.press-carousel2 .owl-dot.active {
  width: 12px;
  height: 12px;
  background-color: #8761a8
}

section.promo .wpcf7-response-output.wpcf7-validation-errors {
  max-width: 50%;
}

@media (max-width: 767.98px) {
  section.promo .wpcf7-response-output.wpcf7-validation-errors {
    max-width: 100%;
    margin: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .process-item__arrow.mob-off {
    display: none !important;
  }
}

.section-header--medium-margin {
  margin-bottom: 35px;
}

.section-header--center {
  text-align: center;
}

@media (min-width: 768px) {
  .section-header--medium-margin {
    margin-bottom: 60px;
  }
}

input.wpcf7-form-control.wpcf7-submit.form__btn.btn.btn--white.btn--medium {
  margin-right: 6px;
}

.style-tire {
  padding-right: 50px;
  position: relative;
}

.style-tire:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  right: 0;
  border-bottom: 1px solid;
}

.style-tire.clr-white:after {
  border-bottom-color: #fff !important;
}

.style-tire.clr-black:after {
  border-bottom-color: #000 !important;
}

.style-tire.clr-dark:after {
  border-bottom-color: #222 !important;
}

.style-tire.clr-lightdark:after {
  border-bottom-color: #2c353f !important;
}

.style-tire.clr-grey:after {
  border-bottom-color: #f2f2f2 !important;
}

.style-tire.clr-lightgrey:after {
  border-bottom-color: #ede9e6 !important;
}

.style-tire.clr-deepgrey:after {
  border-bottom-color: #e0dcda !important;
}

.style-tire.clr-rose:after {
  border-bottom-color: #f23472 !important;
}

.style-tire.clr-red:after {
  border-bottom-color: #f09790 !important;
}

.style-tire.clr-yellow:after {
  border-bottom-color: #feca16 !important;
}

.style-tire.clr-green:after {
  border-bottom-color: #16bf86 !important;
}

.style-tire.clr-blue:after {
  border-bottom-color: #5874cf !important;
}

.style-tire.clr-blue2:after {
  border-bottom-color: #557ef8 !important;
}

.style-tire.clr-lightblue:after {
  border-bottom-color: #2ddfd1 !important;
}

.style-tire.clr-deepblue:after {
  border-bottom-color: #313b77 !important;
}

.style-tire.clr-purple:after {
  border-bottom-color: #8761a8 !important;
}

.style-tire.clr-deeppurple:after {
  border-bottom-color: #51475a !important;
}

.style-tire.clr-lightpurple:after {
  border-bottom-color: #715fef !important;
}

.style-tire.clr-orange:after {
  border-bottom-color: #ffae57 !important;
}

.wpb_single_image .popup-youtube {
  max-width: 100%;
  border: none;
  outline: 0;
  box-shadow: rgba(56, 56, 56, 0.79) 0px 0px 21px;
  background-color: rgb(135, 97, 168);
  width: 115px;
  height: 115px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  border-radius: 50%;
}

.list-check b, .list-marker b {
  font-family: Catamaran;
  font-weight: 700;
}

.list-stat.vc_custom_heading {
  position: relative;
}

.list-stat span.stat-line {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  width: 14px;
  -webkit-border-radius: 2.5px;
  border-radius: 2.5px;
  overflow: hidden;
  height: 5px;
}

.list-check.vc_custom_heading {
  position: relative;
}

.list-check:before {
  content: '';
  position: absolute;
  top: 11px;
  right: 0;
  width: 13px;
  height: 9px;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .md-style-normal {
    padding-right: 0px !important;
  }
  .md-style-normal:after {
    content: none !important;
  }
}

@media (max-width: 768px) {
  .sm-style-normal {
    padding-right: 0px !important;
  }
  .sm-style-normal:after {
    content: none !important;
  }
}

@media (max-width: 768px) {
  .xs-style-normal {
    padding-right: 0px !important;
  }
  .xs-style-normal:after {
    content: none !important;
  }
}

.home1 .list-check:before {
  background-image: url(../images/check1.svg) !important;
}

.home2 .list-check:before {
  background-image: url(../images/check2.svg) !important;
}

.home3 .list-check:before {
  background-image: url(../images/check3.svg) !important;
}

.home4 .list-check:before {
  background-image: url(../images/check4.svg) !important;
}

.home5 .list-check:before {
  background-image: url(../images/check4.svg) !important;
}

.home6 .list-check:before {
  background-image: url(../images/check4.svg) !important;
}

.list-marker.vc_custom_heading {
  position: relative;
}

.list-marker:before {
  content: '';
  position: absolute;
  top: 11px;
  right: 0;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.home1 .list-marker:before {
  background-color: #8761a8;
}

.home2 .list-marker:before {
  background-color: #8761a8;
}

.home3 .list-marker:before {
  background-color: #fff;
}

.home4 .list-marker:before {
  background-color: #0009b2;
}

.home5 .list-marker:before {
  background-color: #0009b2;
}

.home6 .list-marker:before {
  background-color: #0009b2;
}

.promobgclr {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

@media (max-width: 575.98px) {
  .promobgclr.xs-bgclr-on {
    display: block;
  }
}

/* .counter up shoercode */

.counter {
  display: inline-block;
}

/* icobar timer shoercode */

.ico__body:before, .ico__body:after {
  content: none !important;
}

.progress-bar__metka.has_after:after {
  background-color: rgba(255, 255, 255, .7);
}

.ico__body-border {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.ico__body-bg {
  position: absolute;
  top: 10px;
  right: 10px;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  height: calc(100% - 20px);
  background-color: #fff;
  z-index: 2;
}

.ico__bar:after {
  content: none !important;
}

.ico__bar-progress {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.ico__timer-title {
  text-transform: inherit;
}

/* service__item shortcode */

.service__item {
  border: 5px solid;
}

.service__item .service__btn:hover {
  background-color: #333;
  color: #fff;
}

/* token section shortcode */

.token-bg {
  width: 797px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-position: center right;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

@media (max-width: 1199.98px) {
  .token-bg {
    background-position: -200px center;
  }
}

/* document section shortcode */

.doc {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
}

.doc__img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -24px;
  width: 51px;
  height: 55px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.doc__bg {
  opacity: 0.93;
}

.doc:hover .doc__bg {
  opacity: 1;
}

.doc.title--none img {
  width: auto;
  margin-bottom: 0;
}

/* advisors  */

.advisor_social {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 10px;
  left: -webkit-calc((100% - 190px)/ 2);
  left: calc((100% - 190px)/ 2);
  z-index: 2;
}

.advisor:after {
  content: none !important;
}

.home3 .advisor__bg, .home6 .advisor__bg {
  position: absolute;
  top: -15%;
  right: -15%;
  width: 130%;
  height: 130%;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1200px) {
  .home3 .advisor__img:after {
    left: -97%;
  }
}

/* team  */

.team_social {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 10px;
  left: -webkit-calc((100% - 110px)/ 2);
  left: calc((100% - 110px)/ 2);
  z-index: 1;
}

.team-member:before {
  content: none !important;
}

@media (max-width: 992px) {
  .style-tire.md-center:after {
    content: none !important;
  }
  .style-tire.md-center {
    padding-right: 0px !important;
  }
}

@media (max-width: 768px) {
  .style-tire.sm-center:after {
    content: none !important;
  }
  .style-tire.sm-center {
    padding-right: 0px !important;
  }
}

/*.absolute__bg{background:#000!important;}*/

.form__btn.home4_subscribe {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}

/* blog carousel shortcode */

.news-carousel__item-style1 {
  padding: 40px 38px 36px 49px;
  background-color: #fff;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  display: block;
  color: #51475a;
  margin: 20px 0 70px;
}

.news-carousel__item-style1:hover {
  -webkit-box-shadow: 0 3px 27px rgba(0, 0, 0, .17);
  box-shadow: 0 3px 27px rgba(0, 0, 0, .17);
  color: #51475a;
}

.news-carousel__item-style2:hover .news-carousel__item-body {
  -webkit-box-shadow: 0 3px 27px rgba(0, 0, 0, .17);
  box-shadow: 0 3px 27px rgba(0, 0, 0, .17);
  color: #51475a;
}

.news-carousel__item-style2 .news-carousel__item-body {
  padding: 40px 38px 36px 49px;
  -webkit-transition: -webkit-box-shadow .4s;
  transition: -webkit-box-shadow .4s;
  -o-transition: box-shadow .4s;
  transition: box-shadow .4s;
  transition: box-shadow .4s, -webkit-box-shadow .4s;
}

.doc.doc__bgimg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.doc:hover .doc__bgimg {
  opacity: 0;
}

.promo__link i span {
  position: absolute;
  top: 50%;
  right: 55%;
  color: #fff;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  -webkit-transition: fill .4s;
  -o-transition: fill .4s;
  transition: fill .4s;
}

.promo__btns-wrap .btn {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

@media (min-width: 576px) {
  .promo__btns-wrap .btn {
    margin-left: 17px;
    margin-bottom: 0;
    width: auto;
  }
}

.btn--purpure-shadow {
  color: #fff;
  background-color: #8761a8;
  -webkit-box-shadow: 0 0 21px rgba(152, 108, 169, .79);
  box-shadow: 0 0 21px rgba(152, 108, 169, .79)
}

a.btn.custom:hover {
  color: #fff;
}

@media (max-width: 992px) {
  .jarallax-cryptoland.vc-mobile-parallax-off div[id*="jarallax"] {
    display: none !important;
  }
}

.parallax-bg-opacity-1 div[id*="jarallax"] {
  opacity: 1 !important;
}

.parallax-bg-opacity-01 div[id*="jarallax"] {
  opacity: 0.1 !important;
}

.parallax-bg-opacity-02 div[id*="jarallax"] {
  opacity: 0.2 !important;
}

.parallax-bg-opacity-03 div[id*="jarallax"] {
  opacity: 0.3 !important;
}

.parallax-bg-opacity-04 div[id*="jarallax"] {
  opacity: 0.4 !important;
}

.parallax-bg-opacity-05 div[id*="jarallax"] {
  opacity: 0.5 !important;
}

.parallax-bg-opacity-06 div[id*="jarallax"] {
  opacity: 0.6 !important;
}

.parallax-bg-opacity-07 div[id*="jarallax"] {
  opacity: 0.7 !important;
}

.parallax-bg-opacity-08 div[id*="jarallax"] {
  opacity: 0.8 !important;
}

.parallax-bg-opacity-09 div[id*="jarallax"] {
  opacity: 0.9 !important;
}

/* home 2 style*/

.wpb-js-composer .vc_tta-container {
  margin-bottom: 0px !important;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel {
  transition: all 3s ease !important;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel {
  border-bottom: 1px solid #e3e3e3 !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel-title {
  text-transform: inherit;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel {
  padding: 0px !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel-body {
  padding-top: 0px !important;
  padding-bottom: 15px !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel-title>a {
  position: relative;
  padding: 15px 0 15px 0 !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel:nth-child(1) .vc_tta-panel-title>a {
  border-top: 1px solid #e3e3e3 !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel-title>a {
  width: 100% !important;
  display: block !important;
  cursor: pointer !important;
  font-size: 20px !important;
  line-height: 30px !important;
  font-family: Raleway !important;
  font-weight: 700 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color .4s !important;
  -o-transition: color .4s !important;
  transition: color .4s !important;
  padding-left: 25px !important;
}

@media (max-width: 768px) {
  .wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel-title>a {
    font-size: 18px !important;
    line-height: 22px !important;
  }
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel-heading:focus, .wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel .vc_tta-panel-heading:hover {
  background-color: transparent !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-controls-icon-position-right .vc_tta-controls-icon {
  display: none !important;
}

.vc_tta-panel-title {
  margin-bottom: 0 !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel-title>a:before {
  content: '';
  position: absolute;
  top: 16px;
  left: 7.5px;
  width: 3px;
  height: 19px;
  -webkit-transition: height .4s;
  -o-transition: height .4s;
  transition: height .4s;
  border-right: 3px solid #8761a8;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel-title>a {
  color: #777 !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel-title>a:hover {
  color: #8761a8 !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel.vc_active .vc_tta-panel-title>a:before {
  height: 0;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-purple .vc_tta-panel-title>a:after {
  content: '';
  position: absolute;
  top: 24px;
  left: 0;
  width: 19px;
  border-bottom: 3px solid #8761a8;
}

/* home  3 style*/

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-transparent .vc_tta-panel {
  transition: all 3s ease !important;
  border-bottom: 1px solid #3b4360;
  position: relative;
  padding: 15px 0 15px 0;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-transparent .vc_tta-panel-title>a {
  width: 100% !important;
  display: block !important;
  cursor: pointer !important;
  font-size: 20px !important;
  line-height: 30px !important;
  font-family: Raleway !important;
  font-weight: 700 !important;
  padding: 0px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color .4s !important;
  -o-transition: color .4s !important;
  transition: color .4s !important;
  padding-left: 25px !important;
  color: #fff !important;
  letter-spacing: 0;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-transparent .vc_tta-panel-title>a:hover {
  color: #00d1e4 !important
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-transparent .vc_tta-panel-title {
  text-transform: inherit;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-transparent .vc_tta-panel-body {
  border-color: transparent;
  background-color: transparent;
  padding: 10px 0 0px !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-transparent .vc_tta-panel-heading:focus, .wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-transparent .vc_tta-panel .vc_tta-panel-heading:hover {
  background-color: transparent !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-transparent .vc_tta-controls-icon-position-right .vc_tta-controls-icon {
  display: none !important;
}

.vc_tta-panel-title {
  margin-bottom: 0 !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-transparent .vc_tta-panel-title>a:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6.5px;
  width: 3px;
  height: 19px;
  -webkit-transition: height .4s;
  -o-transition: height .4s;
  transition: height .4s;
  border-right: 3px solid #00d1e4;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-transparent .vc_tta-panel.vc_active .vc_tta-panel-title>a:before {
  height: 0;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-transparent .vc_tta-panel-title>a:after {
  content: '';
  position: absolute;
  top: 14px;
  left: -1px;
  width: 19px;
  border-bottom: 3px solid #00d1e4;
}

@media (max-width: 768px) {
  .wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-transparent .vc_tta-panel-title>a {
    font-size: 18px !important;
    line-height: 22px !important;
  }
  body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-transparent .vc_tta-panel-body p {
    font-size: 16px !important;
    line-height: 28px !important;
  }
  .wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-transparent .vc_tta-panel-title>a:before {
    top: 0px;
  }
  .wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-transparent .vc_tta-panel-title>a:after {
    top: 8px;
  }
}

/* home 4 style*/

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel-title>a {
  width: 100%;
  display: block;
  cursor: pointer;
  padding: 15px 20px 15px 60px;
  font-size: 18px;
  line-height: 22px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none;
  background-color: #f8faff;
  color: #303948 !important;
  border: none !important;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel.vc_active .vc_tta-panel-title>a {
  margin-bottom: 0px !important;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel-title>a:hover {
  color: #03179d !important;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel-title>a:hover {
  color: #03179d !important;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel {
  transition: all 3s ease !important;
  padding: 0px !important;
  margin-bottom: 20px;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel:last-child {
  margin-bottom: 0px !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel-title {
  text-transform: inherit;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel-heading:focus, .wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel .vc_tta-panel-heading:hover {
  background-color: transparent !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-controls-icon-position-right .vc_tta-controls-icon {
  display: none !important;
}

.vc_tta-panel-title {
  margin-bottom: 0 !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel-title>a:after {
  content: "";
  position: absolute;
  top: 18px;
  line-height: 42px;
  text-align: center;
  left: 18px;
  background-color: #03179d;
  width: 44px;
  height: 44px;
  background-image: url(../images/down-chevron.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 18px 18px;
  background-size: 18px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel.vc_active .vc_tta-panel-title>a:after {
  transform: rotate(180deg)
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel .vc_tta-panel-heading {
  border: none !important;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel.vc_active .vc_tta-panel-body {
  border: none !important;
  background-color: transparent !important;
  padding: 15px 20px 0 !important;
}

@media (min-width: 768px) {
  body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel-title>a {
    padding: 30px 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
  }
  body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel.vc_active .vc_tta-panel-body {
    padding: 30px 40px 28px !important;
  }
}

@media (max-width: 768px) {
  body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-blue .vc_tta-panel-title>a:after {
    top: 5px;
    left: 5px;
  }
}

/* home 5 style*/

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel {
  transition: all 3s ease !important;
  -webkit-box-shadow: 0 0 40px rgba(8, 0, 17, .1);
  box-shadow: 0 0 40px rgba(8, 0, 17, .1);
  background-color: #fff;
  margin-bottom: 20px;
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 40px rgba(8, 0, 17, .1);
  box-shadow: 0 0 40px rgba(8, 0, 17, .1);
  background-color: #fff;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  margin-bottom: 20px;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel-title {
  text-transform: inherit;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel {
  padding: 0px !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel-title>a {
  border: none !important;
  width: 100%;
  display: block;
  cursor: pointer;
  padding: 15px 20px 15px 60px;
  font-size: 18px;
  line-height: 22px;
  font-family: Raleway;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
  background-color: #fff !important;
  color: #557ef8 !important;
  -webkit-border-radius: 50px;
  letter-spacing: 0px !important;
  border-radius: 50px;
  text-decoration: none;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel-title>a {
    padding: 30px 40px;
  }
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel-heading:focus, .wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel .vc_tta-panel-heading:hover {
  background-color: transparent !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-controls-icon-position-right .vc_tta-controls-icon {
  display: none !important;
}

.vc_tta-panel-title {
  margin-bottom: 0 !important;
}

.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel-title>a:after {
  content: "";
  position: absolute;
  top: 14px;
  line-height: 42px;
  text-align: center;
  left: 18px;
  background-color: #fff;
  width: 44px;
  height: 44px;
  background-image: url(../images/down-chevron-blue.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 18px 18px;
  background-size: 18px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel.vc_active .vc_tta-panel-title>a:after {
  transform: rotate(180deg)
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel-title>a {
  color: #333 !important;
  border: none !important;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel-title>a:hover {
  color: #557ef8 !important;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel .vc_tta-panel-heading {
  border: none !important;
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel.vc_active .vc_tta-panel-title>a {
  border-color: transparent !important
}

body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel.vc_active .vc_tta-panel-body {
  border: none !important;
  background-color: #fff !important;
  padding: 0px 20px 0 !important;
  border-radius: 50px;
}

body.home6.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel.vc_active .vc_tta-panel-body {
  border-radius: 15px;
}

body.home6.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel-title>a {
  border-radius: 15px;
}

@media (min-width: 768px) {
  body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel.vc_active .vc_tta-panel-body {
    padding: 0px 40px 28px !important;
  }
  body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel-title>a {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel-title>a:after {
    top: 6px;
    left: 6px;
  }
  body.wpb-js-composer .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-cryptoland_vc_tta-color-white .vc_tta-panel.vc_active .vc_tta-panel-body {
    padding: 5px 20px 30px !important;
  }
}
/* visual-composer options */
.updated.vc_license-activation-notice {display:none;}
@media only screen and (max-width: 992px) {.disable-992{display:none!important;}}
@media only screen and (max-width: 768px) {.disable-768{display:none!important;}}
@media only screen and (max-width: 480px) {.disable-480{display:none!important;}}
@media only screen and (max-width: 992px) {.vc_row.row-bg-image-hide-992{background-image:none!important;}}
@media only screen and (max-width: 768px) {.vc_row.row-bg-image-hide-768{background-image:none!important;}}
@media only screen and (max-width: 480px) {.vc_row.row-bg-image-hide-480{background-image:none!important;}}
.nt-theme-before-row{position:relative!important;}


.flip-clock-divider .flip-clock-label {
  display: none !important;
}

.timer__titles {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100% !important;
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  font-size: 14px !important;
  color: #fff !important;
  font-family: Catamaran !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  letter-spacing: .7px !important;
  position: absolute !important;
  bottom: -30px !important;
  right: 0 !important;
  max-width: 515px !important;
}

.economy, .promo.promo3 {
  padding: 0 !important;
}

.economy ul li:before {
  content: '\f00c';
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 8px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  width: 10px;
  height: 9px;
}

.economy__video-btn {
  bottom: 0px;
}

@media (max-width:992px) {
  .economy__video-btn {
    bottom: -200px;
  }
}

@media (min-width: 992px) {
  .logoes img {
    margin: 0;
  }
}

.services__bg {
  z-index: -1;
}

.counter__item .counter__item-value:after {
  content: ""attr(data-percantage)"";
}

/*
body .cases__item {
  margin-bottom: 0px;
}
*/

.absolute__bg {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}

.absolute__bg.horizontal-center {
  right: 50% !important;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.btn-wrapper.btn--center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.btn-wrapper.btn--left {
  float: right;
}

.btn-wrapper.btn--right {
  float: left;
}

@media (max-width:992px) {
  .btn-wrapper.md-btn--center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .btn-wrapper.md-btn--left {
    float: right;
  }
  .btn-wrapper.md-btn--right {
    float: left;
  }
}

@media (max-width:768px) {
  .btn-wrapper.sm-btn--center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    float: none;
  }
  .btn-wrapper.sm-btn--left {
    float: right;
  }
  .btn-wrapper.sm-btn--right {
    float: left;
  }
}

@media (max-width:576px) {
  .btn-wrapper.xs-btn--center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    float: none;
  }
  .btn-wrapper.xs-btn--left {
    float: right;
  }
  .btn-wrapper.xs-btn--right {
    float: left;
  }
}

.btn-cases {
  display: block;
  text-align: center;
  line-height: 55px;
  height: 55px;
  width: auto;
  margin: 0 auto;
}

.data__bg {
  top: -76%;
}

.facts__line-wrapper {
  position: relative;
  z-index: 1;
}

.home3-form .form__btn {
  width: 90px;
}

.timer_wrap3 .timer__titles {
  right: 50% !important;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  text-align: center;
}

.timer_wrap3 .timer__titles div {
  margin: 0px;
}

.data__num-img {
  position: absolute;
  top: -25px;
  left: -20px;
  width: 45px;
  height: 45px;
}

@media (min-width: 992px) {
  .data__num-img {
    width: 65px;
    height: 65px;
    top: -20px;
    left: -35px;
  }
}

.home4 .c-backtop-1 {
  bottom: 10px;
  background-image: none !important;
  background-color: #02127d !important;
}

.home2 .c-backtop-1 {
  bottom: 10px;
  background-color: #6a5afc;
  background-image: -webkit-gradient(linear, right top, left top, from(#2f1843), to(#3f235d));
  background-image: -webkit-linear-gradient(right, #2f1843 0, #3f235d 100%);
  background-image: -o-linear-gradient(right, #2f1843 0, #3f235d 100%);
  background-image: linear-gradient(to left, #2f1843 0, #3f235d 100%);
}

.home5 .c-backtop-1 {
  bottom: 20px;
  background-color: #6a5afc;
  background-image: -webkit-gradient(linear, right top, left top, from(#6e53fd), to(#557ef7));
  background-image: -webkit-linear-gradient(right, #6e53fd 0, #557ef7 100%);
  background-image: -o-linear-gradient(right, #6e53fd 0, #557ef7 100%);
  background-image: linear-gradient(to left, #6e53fd 0, #557ef7 100%);
}

.home6 .c-backtop-1 {
  background-color: #002756;
  background-image: -webkit-gradient(linear, right top, left top, from(#002b5f), to(#004ebb));
  background-image: -webkit-linear-gradient(right, #002b5f 0, #004ebb 100%);
  background-image: -o-linear-gradient(right, #002b5f 0, #004ebb 100%);
  background-image: linear-gradient(to left, #002b60 0, #004ebb 100%);
}

.home3 .c-backtop-1 {
  bottom: 25px;
}

/* =========== HOME 4 =================== */

.data_title span {
  display: inline;
}

/* =========== HOME 5 =================== */

@media (min-width: 768px) {
  .services__item {
    width: 100%;
    margin-bottom: 0;
  }
}

.parallax__img.mob_off {
  display: none;
}

@media (min-width: 1200px) {
  .parallax__img.mob_off {
    display: block;
  }
}

@media (max-width: 768px) {
  .home5 .app {
    background: none !important;
  }
}

.home1 .process__step:after {
  background-image: url(../images/process-arr-line.svg);
  transform: rotate(180deg);
}

@media (min-width: 576px) {
  .home5 .process__step:before {
    background-image: url(../images/home5-arr-right.svg);
  }
}

.time_circles>div>span {
  line-height: 13px;
}

/*============== HOME 6 ==================*/

.home6 .app .block-header {
  margin-bottom: 35px;
}

.home6 .block-header {
  position: relative;
}

.home6 .subtitle--tire {
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-family: Catamaran;
  font-weight: 700;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, .5);
}

.home6 .subtitle--tire {
  padding-right: 50px;
  position: relative;
  margin-bottom: 20px;
}

.home6 .subtitle--tire:after {
  border-bottom: 1px solid #fff;
}

.home6 .subtitle--tire:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  right: 0;
  border-bottom: 1px solid #557ef8;
}

.home6 .app h2.title {
  color: #fff;
}

.home6 .form__btn {
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .app__iphone {
    left: -25%;
  }
  .home6 .home3-form .form__btn {
    width: 100% !important;
    margin-right: 0px !important;
  }
}

@media (max-width: 767.98px) {
  .home1 .app {
    background-image: none !important;
  }
}

.col {
  width: 100%;
  float: right;
  padding: 0 15px;
}

.footer-logo {
  margin-bottom: 27px;
  top: 3.5px;
}

.footer-logo img {
  /*width:100%;*/
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin-left: 13px;
}

.process-item_wrapper {
  margin-bottom: 30px;
}

/* home 2 */

.promo__link:hover i span {
  color: #8761a8;
}

.owl-carousel button.owl-dot:not(.active) {
  background-color: #dedede;
}

/*social-list */

.social-list__link .font-icon {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.home1 .social-list__item a {
  border: 1px solid rgba(255, 255, 255, .5);
  color: #fff;
}

.home1 .social-list__item a:hover {
  border: 1px solid #fff;
  color: #fff;
}

.home2 .social-list__link {
  color: #fff;
}

.home2 .social-list__link:hover {
  color: #fff;
}

/*  home 3*/

.home3 .social-list__link {
  border: 1px solid rgba(255, 255, 255, .5);
  color: #fff;
}

.home3 .social-list__link:hover {
  border: 1px solid #fff;
}

.home3 .scroll-down {
  bottom: -40px;
}

.facts__bg {
  width: 100vw;
}

.link-opacity a {
  opacity: 0.5 !important;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
}

.link-opacity:hover a {
  opacity: 1 !important
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .home3 .social-list, .home3 .footer-logo {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .home4 .social-list, .home4 .footer-logo {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .home3 .form.subscribe {
    margin: 0 auto;
    text-align: center;
  }
}

.form__btn.btn--orange:hover {
  background-image: none !important;
  background: #ed824e;
}

#start-screen .scene {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* demo page */

.s-col {
  color: #fff;
}

.__title {
  font-size: 55px;
  font-weight: 700;
}

.__subtitle {
  font-size: 30px;
  line-height: 1.2;
}

.__subtitle i {
  font-family: 'Times New Roman';
}

@media only screen and (min-width: 576px) {
  .__title {
    font-size: 70px;
  }
}

@media only screen and (min-width: 768px) {
  .__title {
    font-size: 80px;
  }
}

@media only screen and (min-width: 992px) {
  .__title {
    font-size: 100px;
  }
}

@media (max-width: 1200px) {
  body .lg-rel {
    position: relative !important;
  }
}

@media (max-width: 992px) {
  body .md-rel {
    position: relative !important;
  }
}

@media (max-width: 768px) {
  body .sm-rel {
    position: relative !important;
  }
}

/* owl carousel dots background color */

body .owl-carousel button.bgclr-white {
  background-color: #fff;
}

body .owl-carousel button.bgclr-black {
  background-color: #000;
}

body .owl-carousel button.bgclr-dark {
  background-color: #222;
}

body .owl-carousel button.bgclr-lightdark {
  background-color: #2c353f;
}

body .owl-carousel button.bgclr-grey {
  background-color: #f2f2f2;
}

body .owl-carousel button.bgclr-lightgrey {
  background-color: #ede9e6;
}

body .owl-carousel button.bgclr-deepgrey {
  background-color: #e0dcda;
}

body .owl-carousel button.bgclr-rose {
  background-color: #f23472;
}

body .owl-carousel button.bgclr-red {
  background-color: #f09790;
}

body .owl-carousel button.bgclr-yellow {
  background-color: #feca16;
}

body .owl-carousel button.bgclr-green {
  background-color: #16bf86 !important;
}

body .owl-carousel button.bgclr-blue {
  background-color: #5874cf;
}

body .owl-carousel button.bgclr-blue2 {
  background-color: #557ef8;
}

body .owl-carousel button.bgclr-lightblue {
  background-color: #2ddfd1;
}

body .owl-carousel button.bgclr-deepblue {
  background-color: #313b77;
}

body .owl-carousel button.bgclr-purple {
  background-color: #8761a8;
}

body .owl-carousel button.bgclr-deeppurple {
  background-color: #51475a;
}

body .owl-carousel button.bgclr-lightpurple {
  background-color: #715fef;
}

body .owl-carousel button.bgclr-orange {
  background-color: #ffae57;
}

/*owl carousel dots active background color */

body .owl-carousel button.active.act-bgclr-white {
  background-color: #fff;
}

body .owl-carousel button.active.act-bgclr-black {
  background-color: #000;
}

body .owl-carousel button.active.act-bgclr-dark {
  background-color: #222;
}

body .owl-carousel button.active.act-bgclr-lightdark {
  background-color: #2c353f;
}

body .owl-carousel button.active.act-bgclr-grey {
  background-color: #f2f2f2;
}

body .owl-carousel button.active.act-bgclr-lightgrey {
  background-color: #ede9e6;
}

body .owl-carousel button.active.act-bgclr-deepgrey {
  background-color: #e0dcda;
}

body .owl-carousel button.active.act-bgclr-rose {
  background-color: #f23472;
}

body .owl-carousel button.active.act-bgclr-red {
  background-color: #f09790;
}

body .owl-carousel button.active.act-bgclr-yellow {
  background-color: #feca16;
}

body .owl-carousel button.active.act-bgclr-green {
  background-color: #16bf86;
}

body .owl-carousel button.active.act-bgclr-blue {
  background-color: #5874cf;
}

body .owl-carousel button.active.act-bgclr-blue2 {
  background-color: #557ef8;
}

body .owl-carousel button.active.act-bgclr-lightblue {
  background-color: #2ddfd1;
}

body .owl-carousel button.active.act-bgclr-deepblue {
  background-color: #313b77;
}

body .owl-carousel button.active.act-bgclr-purple {
  background-color: #8761a8;
}

body .owl-carousel button.active.act-bgclr-deeppurple {
  background-color: #51475a;
}

body .owl-carousel button.active.act-bgclr-lightpurple {
  background-color: #715fef;
}

body .owl-carousel button.active.act-bgclr-orange {
  background-color: #ffae57;
}

.menu__item.item-has-children {
  position: relative;
  padding: 12px 0;
}

.item-has-children:hover>.menu__dropdown, .item-has-children a:hover+.menu__dropdown, .menu__link:hover+.menu__dropdown {
  opacity: 1;
  visibility: visible;
}

.menu__dropdown {
  position: absolute;
  min-width: 130px;
  background-color: #fff;
  padding: 15px 0;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 2;
  border-radius: 3px;
}

.menu__item>.menu__dropdown {
  top: 100%;
  right: 50%;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}

.menu__dropdown .menu__dropdown {
  top: 0;
  right: 100%;
  background-color: #f7f7f7;
}

.menu__dropdown li {
  position: relative;
  margin-top: 5px;
}

.menu__dropdown li:first-child {
  margin-top: 0;
}

li.item-has-children>a:before {
  position: absolute;
  top: 50%;
  left: -22px;
  content: "\f107";
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

li.item-has-children >a.d-open:before {
  content: "\f106";
}
.mob-menu__link:hover:after {
    opacity: 0 !important;
}
.menu__dropdown a {
  display: block;
  padding: 0 18px;
  font-size: 16px;
  color: #777;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.menu__dropdown a:hover, .menu__dropdown a:focus, .menu__dropdown a.active {
  color: #8b5bae;
}

.submenu {
  display: none;
  margin: 15px 0 5px;
  padding: 0;
  list-style: none;
}

.submenu li {
  border:0px;
  margin-bottom:0;
  margin:0;
  padding:7px 15px
}

.header.sticky .menu__dropdown a:after {
    border-bottom: 0px solid #8761a8;
}

/*========== Z-INDEX ================*/

.zindex-100 {
  z-index: -100;
}

.zindex-99 {
  z-index: -99;
}

.zindex-98 {
  z-index: -98;
}

.zindex-97 {
  z-index: -97;
}

.zindex-96 {
  z-index: -96;
}

.zindex-95 {
  z-index: -95;
}

.zindex-94 {
  z-index: -94;
}

.zindex-93 {
  z-index: -93;
}

.zindex-92 {
  z-index: -92;
}

.zindex-91 {
  z-index: -91;
}

.zindex-90 {
  z-index: -90;
}

.zindex-89 {
  z-index: -89;
}

.zindex-88 {
  z-index: -88;
}

.zindex-87 {
  z-index: -87;
}

.zindex-86 {
  z-index: -86;
}

.zindex-85 {
  z-index: -85;
}

.zindex-84 {
  z-index: -84;
}

.zindex-83 {
  z-index: -83;
}

.zindex-82 {
  z-index: -82;
}

.zindex-81 {
  z-index: -81;
}

.zindex-80 {
  z-index: -80;
}

.zindex-79 {
  z-index: -79;
}

.zindex-78 {
  z-index: -78;
}

.zindex-77 {
  z-index: -77;
}

.zindex-76 {
  z-index: -76;
}

.zindex-75 {
  z-index: -75;
}

.zindex-74 {
  z-index: -74;
}

.zindex-73 {
  z-index: -73;
}

.zindex-72 {
  z-index: -72;
}

.zindex-71 {
  z-index: -71;
}

.zindex-70 {
  z-index: -70;
}

.zindex-69 {
  z-index: -69;
}

.zindex-68 {
  z-index: -68;
}

.zindex-67 {
  z-index: -67;
}

.zindex-66 {
  z-index: -66;
}

.zindex-65 {
  z-index: -65;
}

.zindex-64 {
  z-index: -64;
}

.zindex-63 {
  z-index: -63;
}

.zindex-62 {
  z-index: -62;
}

.zindex-61 {
  z-index: -61;
}

.zindex-60 {
  z-index: -60;
}

.zindex-59 {
  z-index: -59;
}

.zindex-58 {
  z-index: -58;
}

.zindex-57 {
  z-index: -57;
}

.zindex-56 {
  z-index: -56;
}

.zindex-55 {
  z-index: -55;
}

.zindex-54 {
  z-index: -54;
}

.zindex-53 {
  z-index: -53;
}

.zindex-52 {
  z-index: -52;
}

.zindex-51 {
  z-index: -51;
}

.zindex-50 {
  z-index: -50;
}

.zindex-49 {
  z-index: -49;
}

.zindex-48 {
  z-index: -48;
}

.zindex-47 {
  z-index: -47;
}

.zindex-46 {
  z-index: -46;
}

.zindex-45 {
  z-index: -45;
}

.zindex-44 {
  z-index: -44;
}

.zindex-43 {
  z-index: -43;
}

.zindex-42 {
  z-index: -42;
}

.zindex-41 {
  z-index: -41;
}

.zindex-40 {
  z-index: -40;
}

.zindex-39 {
  z-index: -39;
}

.zindex-38 {
  z-index: -38;
}

.zindex-37 {
  z-index: -37;
}

.zindex-36 {
  z-index: -36;
}

.zindex-35 {
  z-index: -35;
}

.zindex-34 {
  z-index: -34;
}

.zindex-33 {
  z-index: -33;
}

.zindex-32 {
  z-index: -32;
}

.zindex-31 {
  z-index: -31;
}

.zindex-30 {
  z-index: -30;
}

.zindex-29 {
  z-index: -29;
}

.zindex-28 {
  z-index: -28;
}

.zindex-27 {
  z-index: -27;
}

.zindex-26 {
  z-index: -26;
}

.zindex-25 {
  z-index: -25;
}

.zindex-24 {
  z-index: -24;
}

.zindex-23 {
  z-index: -23;
}

.zindex-22 {
  z-index: -22;
}

.zindex-21 {
  z-index: -21;
}

.zindex-20 {
  z-index: -20;
}

.zindex-19 {
  z-index: -19;
}

.zindex-18 {
  z-index: -18;
}

.zindex-17 {
  z-index: -17;
}

.zindex-16 {
  z-index: -16;
}

.zindex-15 {
  z-index: -15;
}

.zindex-14 {
  z-index: -14;
}

.zindex-13 {
  z-index: -13;
}

.zindex-12 {
  z-index: -12;
}

.zindex-11 {
  z-index: -11;
}

.zindex-10 {
  z-index: -10;
}

.zindex-9 {
  z-index: -9;
}

.zindex-8 {
  z-index: -8;
}

.zindex-7 {
  z-index: -7;
}

.zindex-6 {
  z-index: -6;
}

.zindex-5 {
  z-index: -5;
}

.zindex-4 {
  z-index: -4;
}

.zindex-3 {
  z-index: -3;
}

.zindex-2 {
  z-index: -2;
}

.zindex-1 {
  z-index: -1;
}

.zindex0 {
  z-index: 0;
}

.zindex1 {
  z-index: 1;
}

.zindex2 {
  z-index: 2;
}

.zindex3 {
  z-index: 3;
}

.zindex4 {
  z-index: 4;
}

.zindex5 {
  z-index: 5;
}

.zindex6 {
  z-index: 6;
}

.zindex7 {
  z-index: 7;
}

.zindex8 {
  z-index: 8;
}

.zindex9 {
  z-index: 9;
}

.zindex10 {
  z-index: 10;
}

.zindex11 {
  z-index: 11;
}

.zindex12 {
  z-index: 12;
}

.zindex13 {
  z-index: 13;
}

.zindex14 {
  z-index: 14;
}

.zindex15 {
  z-index: 15;
}

.zindex16 {
  z-index: 16;
}

.zindex17 {
  z-index: 17;
}

.zindex18 {
  z-index: 18;
}

.zindex19 {
  z-index: 19;
}

.zindex20 {
  z-index: 20;
}

.zindex21 {
  z-index: 21;
}

.zindex22 {
  z-index: 22;
}

.zindex23 {
  z-index: 23;
}

.zindex24 {
  z-index: 24;
}

.zindex25 {
  z-index: 25;
}

.zindex26 {
  z-index: 26;
}

.zindex27 {
  z-index: 27;
}

.zindex28 {
  z-index: 28;
}

.zindex29 {
  z-index: 29;
}

.zindex30 {
  z-index: 30;
}

.zindex31 {
  z-index: 31;
}

.zindex32 {
  z-index: 32;
}

.zindex33 {
  z-index: 33;
}

.zindex34 {
  z-index: 34;
}

.zindex35 {
  z-index: 35;
}

.zindex36 {
  z-index: 36;
}

.zindex37 {
  z-index: 37;
}

.zindex38 {
  z-index: 38;
}

.zindex39 {
  z-index: 39;
}

.zindex40 {
  z-index: 40;
}

.zindex41 {
  z-index: 41;
}

.zindex42 {
  z-index: 42;
}

.zindex43 {
  z-index: 43;
}

.zindex44 {
  z-index: 44;
}

.zindex45 {
  z-index: 45;
}

.zindex46 {
  z-index: 46;
}

.zindex47 {
  z-index: 47;
}

.zindex48 {
  z-index: 48;
}

.zindex49 {
  z-index: 49;
}

.zindex50 {
  z-index: 50;
}

.zindex51 {
  z-index: 51;
}

.zindex52 {
  z-index: 52;
}

.zindex53 {
  z-index: 53;
}

.zindex54 {
  z-index: 54;
}

.zindex55 {
  z-index: 55;
}

.zindex56 {
  z-index: 56;
}

.zindex57 {
  z-index: 57;
}

.zindex58 {
  z-index: 58;
}

.zindex59 {
  z-index: 59;
}

.zindex60 {
  z-index: 60;
}

.zindex61 {
  z-index: 61;
}

.zindex62 {
  z-index: 62;
}

.zindex63 {
  z-index: 63;
}

.zindex64 {
  z-index: 64;
}

.zindex65 {
  z-index: 65;
}

.zindex66 {
  z-index: 66;
}

.zindex67 {
  z-index: 67;
}

.zindex68 {
  z-index: 68;
}

.zindex69 {
  z-index: 69;
}

.zindex70 {
  z-index: 70;
}

.zindex71 {
  z-index: 71;
}

.zindex72 {
  z-index: 72;
}

.zindex73 {
  z-index: 73;
}

.zindex74 {
  z-index: 74;
}

.zindex75 {
  z-index: 75;
}

.zindex76 {
  z-index: 76;
}

.zindex77 {
  z-index: 77;
}

.zindex78 {
  z-index: 78;
}

.zindex79 {
  z-index: 79;
}

.zindex80 {
  z-index: 80;
}

.zindex81 {
  z-index: 81;
}

.zindex82 {
  z-index: 82;
}

.zindex83 {
  z-index: 83;
}

.zindex84 {
  z-index: 84;
}

.zindex85 {
  z-index: 85;
}

.zindex86 {
  z-index: 86;
}

.zindex87 {
  z-index: 87;
}

.zindex88 {
  z-index: 88;
}

.zindex89 {
  z-index: 89;
}

.zindex90 {
  z-index: 90;
}

.zindex91 {
  z-index: 91;
}

.zindex92 {
  z-index: 92;
}

.zindex93 {
  z-index: 93;
}

.zindex94 {
  z-index: 94;
}

.zindex95 {
  z-index: 95;
}

.zindex96 {
  z-index: 96;
}

.zindex97 {
  z-index: 97;
}

.zindex98 {
  z-index: 98;
}

.zindex99 {
  z-index: 99;
}

.zindex100 {
  z-index: 100;
}
