/*------------------------------------------------------------------

	[Table of contents]

	1. Pagination
	2. WordPress Cores
	3. Widgets
	4. Share Buttons
	5. Articles
	6. Post Content Area
	7. Footer

-------------------------------------------------------------------*/

/* 1. Pagination */

.navigation.pagination {
  margin: 30px auto;
  text-align: center;
  display: block;
}

.nav-links {
  float: right;
}

.pager {
  padding-top: 24px;
  margin-bottom: 60px;
  padding: 20px 0;
}

.pager li {
  display: inline;
  list-style: none;
}

.pager .previous>a, .pager .previous>span {
  float: right;
}

.pager .next>a, .pager .next>span {
  float: left;
}

.pager li>a, .pager li>span {
  color: #222222;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  border: 0;
  display: inline-block;
  width: 210px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  font: 600 12px/1.428571 'Poppins', sans-serif;
  letter-spacing: 1.5px;
  text-;
  padding: 5px 0;
}

.pager li>a i.icon-long-arrow-right {
  margin-right: 15px;
}

.pager li>a i.icon-long-arrow-left {
  margin-left: 15px;
}

.pager li>a:hover {
  color: #FFF;
  background: #0db8ca;
  border-color: #0db8ca;
}

/* 1. WordPress Core */

#blog {
  position: relative;
}

#blog dt {
  font-weight: 700;
}

#blog dd {
  margin-right: 0;
  margin-bottom: 15px;
}

.relative {
  position: relative !important;
}

.bypostauthor, .gallery-caption {
  display: block;
}

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: left;
  margin: 5px 20px 20px 0;
}

.alignleft {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignright {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignnone {
  margin: 0;
}

a img.alignleft {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 0 20px 20px;
}

.wp-caption.alignleft {
  margin: 5px 0 20px 20px;
}

.wp-caption.alignright {
  margin: 5px 20px 20px 0;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 15px 0 0;
  font-size: 14px;
  padding: 0 4px 5px;
}

.sticky_text {
  background: #857F79;
  padding: 10px;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 3px;
  display: inline-block;
  margin: 1px 0 10px;
}

.margin_30 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-transform: none;
  font-weight: 700;
  letter-spacing: 0px;
}

.more-link {
  color: #428BCA;
}

.page article .article-img {
  margin-bottom: 40px;
}

.nav-links span.current {
  background-color: #43c1a8 !important;
  color: white !important;
}

.nav-links a.page-numbers, .nav-links span.current {
  border: 0px solid #efefef;
  padding: 8px 14px;
  color: #7c99a7;
  display: inline-block;
  line-height: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #f0f3f5;
  line-height: 35px;
  width: 50px;
  height: 50px;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  word-spacing: 0px;
}

/*
.copyright {
  margin: 0;
}
*/

.m-bottom-50 {
  margin-bottom: 50px
}

.cryptoland_footer_type_1 .social-icons li {
  float: left;
  list-style: none;
}

.social-icons a {
  color: #fff;
  font-size: 22px;
  margin-right: 10px;
}

/* 3. Widgets */

#widget-area .widget img {
  max-width: 100%;
}

#widget-area .widget:last-child {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

#widget-area #searchform {
  position: relative;
  max-height: 50px;
}

#widget-area .menu {
  opacity: 1 !important;
}

#widget-area #searchform input#searchsubmit {
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(249, 241, 230, 0);
  border: 0;
  background: #2c97de;
  color: #322C2C;
  margin-right: 0;
  height: 40px;
  padding: 0 15px;
  color: #fff;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#widget-area .widget_text {
  min-height: 20px;
}

.widget-title {
  position: relative;
}

.widget-title:after {
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
}

.widget-title {
  color: #fff;
}

#recentcomments {
  list-style: none;
  padding: 0;
  text-transform: capitalize;
}
#recentcomments li {
    border-bottom: 1px solid #f5f5f5;
    padding: 0px 0 10px;
    list-style: none;
}
#recentcomments li:last-child {
border:0;
}


#widget-area .wp-caption, #widget-area .wp-caption img {
  margin: 2px 0 20px;
  padding: 0;
}

#widget-area .wp-caption {
  max-width: 100%;
}
#widget-area strong {
    font-weight: 600;
    display: block;
    margin: 15px 0;
}
.tagcloud a:hover {
  background: #8761a8;
  color: #fff;
}

.tagcloud a {
  font-size: 12px !important;
  padding: 6px 12px;
  background: #373737;
  color: #fff;
  margin: 3px;
  line-height: 1.4;
  display: inline-block;
  border-radius: 3px;
}

.widget ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.52);
}

#widget-area .widget a {
  text-decoration: none;
  color: #0db8ca;
}

.latest-content span {
  color: #FFF;
}

.widget a:hover {
  color: #FFF;
}

.widget ul li a:hover {
  /* color: #3192fb; */
}

#widget-area #searchform input#searchsubmit {
  color: #333;
}

#widget-area #searchform input#searchsubmit {
  background-color: #FFED91;
}

#widget-area #searchform input#searchsubmit {
  background-color: #222;
  color: #fff;
}

#widget-area .widget-title {
  color: #222;
  text-transform: capitalize;
  letter-spacing: 0;
  margin-bottom: 20px;
}

#widget-area .widget ul li a {
  text-decoration: none;
  color: #585858;
}

.widget table thead tr th {
  font-size: 14px;
  font-weight: normal;
}

.widget table tr td, table tbody {
  font-size: 12px;
  color: #333;
}

#wp-calendar {
  color: #404040;
}

#wp-calendar a {
  color: #007bff;
}

td#next {
  text-align: left;
}

.widget #calendar_wrap caption {
  text-align: right;
  font-size: 14px;
  padding: 0 0 20px;
}

#calendar_wrap table thead th, #calendar_wrap table tbody td, table tr td {
  display: table-cell;
  padding: 8px;
  vertical-align: top;
  text-align: right;
  border-top: 1px solid #E5E5E5;
}

.widget select {
  width: 100%;
  padding: 10px;
  margin: 0 0 15px;
  border: 2px solid #E1E2E6;
  border-radius: 3px;
  font-weight: 700;
}

.widget {
  margin-bottom: 40px;
  position: relative;
}

.widget ul {
  margin: 0;
  padding: 0;
}

.widget ul li>ul {
  padding: 15px 15px 0 0;
}

#widget-area .widget ul>li {
  padding: 0 0 10px;
}

#widget-area form {
  margin: 25px 0;
}

/* rss widget */

.c-sidebar-1-widget.widget_rss ul {
  padding: 0px;
}

.c-sidebar-1-widget.widget_rss ul li {
  border-bottom: 1px solid #f5f5f5;
  padding: 3px 0 20px;
  list-style: none;
}

.c-sidebar-1-widget.widget_rss ul li:last-child {
  border: 0;
}

.c-sidebar-1-widget.widget_rss ul li a {
  margin-bottom: 5px;
  display: block;
}

.c-sidebar-1-widget.widget_rss ul li span {
  color: #8a5dac;
  margin-bottom: 5px;
  display: block;
}

.c-sidebar-1-widget.widget_rss .c-sidebar-1-widget-title a {
  font-weight: 600;
  color: #373737;
  vertical-align: top;
}

.c-sidebar-1-widget.widget_rss cite {
  font-weight: 600;
  color: #3d3d3d;
  display: block;
  margin-top: 5px;
  font-size: 15px;
}

.c-sidebar-1-widget.widget_rss .rssSummary {
  margin-top: 5px;
}

section.page {
  padding: 0;
}

.post-meta-first {
  margin-bottom: 15px;
  padding-bottom: 0px;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 14px;
}

.post-meta-second span i, .post-meta-first span i {
  margin: 0 6px 0 6px;
  padding-left: 3px;
  font-size: 14px;
  vertical-align: inherit;
}

.post-meta-second span:first-child i, .post-meta-first span:first-child i {
  margin-right: 0
}

.entry-title {
  margin: 0;
  margin-bottom: 15px;
  color: #222222;
}

.entry-title a {
  padding: 0;
  color: #2B2F3E;
  font-size: 21px;
  text-decoration: inherit;
}

.article-img, .blog-bg {
  margin-bottom: 20px;
}

article img {
  max-width: 100%;
  height: auto !important;
}

.posts article:last-child {
  border: none !important;
  margin-bottom: 0px;
  border: 0;
  padding-bottom: 0;
}

.navigation h2 {
  display: none;
}

.tags-links {
  border-left: 2px solid #ddd;
  padding: 0px 0px 0 10px;
  display: inline-block;
  margin: 0px 0 0px 10px;
}

p.category {
  padding: 0px 0px 0 10px;
  display: inline-block;
  margin: 0px 0 0px 10px;
}

.meta {
  margin: 20px 0;
  font-size: 12px;
}

code {
  white-space: normal;
}

.single-post article {
  margin-bottom: 14px;
}

.breadcrumbs {
  margin-top: 20px;
  font-size: 13px;
}

.right .breadcrumbs {
  text-align: left;
}

.breadcrumbs.left {
  text-align: right;
}

span.bredcrumb-separator {
  margin: 0 5px;
}

.content-container {
  position: relative;
  margin-bottom: 0px;
}

.content-container footer span {
  position: absolute;
  top: -60px;
  right: 0px;
  background: #2EB267;
  padding: 5px 10px;
  color: #FFF;
}

.content-container footer span a {
  color: #FFF;
}

.align-center.edit-buttons {
  text-align: center;
  position: relative;
}

.align-center.edit-buttons span a {
  color: #FFF;
}

.align-center.edit-buttons span {
  text-align: center;
  position: absolute;
  top: 0px;
  background: #2EB267;
  color: #FFF;
  padding: 5px 10px;
}

.video-responsive {
  width: 100%;
}

.video-responsive iframe {
  width: 100%;
}

.pager .next>a i {
  margin-top: -5px;
  vertical-align: middle;
  margin-right: 0px;
  font-size: 16px;
}

.pager .previous>a i {
  margin-top: -3px;
  vertical-align: middle;
  margin-left: 8px;
  font-size: 16px;
}

.nt-text-logo {
  display: inline-block;
}

.navbar-header .logo {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  line-height: 60px;
}

.strong {
  font-weight: 600;
}

/* 4. Share Buttons */

#share-buttons {
  margin: 30px 0 0;
}

#share-buttons i {
  font-size: 19px;
  color: #222;
}

#share-buttons a {
  position: relative;
  padding-left: 10px;
}

#share-buttons a:after {
  background: rgba(255, 255, 255, 0);
  bottom: 0;
  content: "";
  height: 4px;
  right: -4px;
  top: 15px;
  position: absolute;
  width: 12px;
  border-radius: 0;
}

.navbar-custom .navbar-brand img {
  max-width: 125px;
  width: 100%;
  max-height: 50px;
}

.navbar-header .navbar-brand {
  display: table;
}

.post-password-form label {
  display: inline;
}

.post-password-form input[type=password] {
  margin: 14px;
  vertical-align: middle;
  line-height: 50px;
  height: 50px;
  padding: 0 25px;
  border-radius: 5px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  font-size: 16px;
  color: #51475a;
  font-family: Catamaran;
  font-weight: 300;
  width: 344px;
  margin-left: 6px;
  background: #f7f7f7;
  border: 1px solid #f1f1f1;
}

.post-password-form input[type=submit] {
  cursor: pointer;
  user-select: none;
  background-image: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 51px;
  line-height: 45px;
  background-color: #8761a8;
  color: #fff;
  -webkit-transition: background-color .4s;
  -o-transition: background-color .4s;
  transition: background-color .4s;
  font-size: 15px;
  display: inline-block;
  border: none;
  padding: 0 32px;
}

.gallery-content ul {
  padding: 0;
}

.gallery-content ul li {
  list-style: none;
}

/*  5.  Articles   */

#respond {
  margin-top: 70px;
}

article.page {
  background: inherit !important;
}

.search-results article, article.hentry {
  margin-bottom: 80px;
}

.page article.hentry {
  border-bottom: 0px;
  margin-bottom: 0px;
}

.single article.hentry {
  margin-bottom: 40px;
}

.tag-pingbacks-2 .commentlist {
  list-style: none;
}

.post-container {
  padding: 0 40px 25px;
}

.format-standard .post-container, .search-results .post-container {
  padding: 0;
}

article.hentry.format-aside .hentry-box {
  background: #eee;
}

article.hentry .entry-wrap {
  padding: 43px 35px 35px 35px;
}

.sticky {
  /* background-color: #f5f5f5; */
  /* padding: 20px 40px 40px 40px; */
  /* border: 3px solid #222; */
}

.blog article.hentry .entry-wrap {
  margin-top: -1px;
}

.post-thumb {
  position: relative;
}

/* 6. Post Content Area */

.post .entry-content li {
  list-style: inherit !important;
}

.entry-content .gallery-item img {
  border: 0 !important;
  margin-bottom: 10px;
}

.entry-content .gallery-item {
  float: right;
  margin-top: 10px;
  text-align: right !important;
  width: 23% !important;
}

.entry-content .gallery-caption {
  margin-right: 0;
  max-width: 150px !important;
}

.entry-content p iframe {
  max-width: 100%;
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .commentlist h1, .commentlist h2, .commentlist h3, .commentlist h4, .commentlist h5, .commentlist h6 {
  margin: 20px 0 !important;
}

.commentlist h1 {
  font-size: 36px;
}

.commentlist h2 {
  font-size: 30px;
}

.commentlist h3 {
  font-size: 24px;
}

.commentlist h4 {
  font-size: 18px;
}

.commentlist h5 {
  font-size: 14px;
}

.commentlist h6 {
  font-size: 12px;
}

.entry-content p {
  margin: 0 0 20px;
}

.commentlist p {
  margin: 0 0 20px;
}

.entry-content {
  padding: 0;
  display: inline-block;
  width: 100%;
}

.commentlist>li.comment {
  list-style: none;
  position: relative;
  margin-bottom: 50px;
}

.single-inner-content h1, .comment h1, .cryptoland-post-class h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.single-inner-content h2, .comment h2, .cryptoland-post-class h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.single-inner-content h3, .comment h3, .cryptoland-post-class h3 {
  font-size: 28px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.single-inner-content h4, .comment h4, .cryptoland-post-class h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.single-inner-content h5, .comment h5, .cryptoland-post-class h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.single-inner-content h6, .comment h6, .cryptoland-post-class h6 {
  font-size: 15px;
  margin-bottom: 10px;
}

.single-inner-content ul li, .comment ul li, .cryptoland-post-class ul li {
  position: relative;
  list-style: disc;
}

.divider {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  margin: 20px 0 40px;
}

.comment.odd {
  margin-bottom: 15px;
}

.commentlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.commentlist .children {
  /* margin-left: 34px; */
  margin-bottom: 50px !important;
  padding: 50px 0 0px 0;
  position: relative;
}

#comments ul li.comment:before, .c-blog-3-info-meta-item:before {
  content: '';
  width: 0px !important;
}

.comment-content ul li, .comment-content ol li {
  margin-bottom: 15px !important;
  margin-right: 20px !important;
}

.comment-content, .comment-content ul li {
  list-style-type: disc !important;
}

#comments ul li {
  position: relative;
}

#comments .children li {
  margin-bottom: 40px;
  list-style: none;
  position: relative;
}

#widget-area .children li {
  margin-right: 5px;
  position: relative;
}

.comment.even.parent {
  margin-bottom: 10px;
}

.comment-body {
  background: #fff;
  padding: 15px 0;
  position: relative;
}

.pingback .comment-body {
  padding: 15px 0;
}

.vcard img {
  padding: 0 !important;
  width: 70px;
  height: 70px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.vcard {
  margin-bottom: 25px;
  font-size: 12px;
}

ol li:not(.pingback) .comment-meta {
  /* float: none; */
  /* margin-left: 86px; */
  /* color: #818a9c; */
  /* position: absolute; */
  /* margin-top: 18px; */
  /* top: 0px; */
  font-size: 15px;
}

.comment.even {
  position: relative;
  list-style: none;
}

.comment-details {
  margin-right: 90px;
}

.children, .comments {
  margin-bottom: 40px;
  list-style-type: none;
}

.comment-reply-link {
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  height: 30px;
  line-height: 32px;
  background-color: #373737;
  color: #fff;
  -webkit-transition: background-color .4s;
  -o-transition: background-color .4s;
  transition: background-color .4s;
  font-size: 14px;
  display: inline-block;
  border: none;
}

.comment-reply-link:hover {
  color: #ffffff;
  background-color: #895faa;
}

.commentmetadata a {
  color: #373737;
  font-weight: 600;
  display: inline-block;
}

.fn, .fn a, .says {
  color: #919191;
  font-size: 14px;
  font-weight: 600;
  color: #919191;
  font-style: normal;
}

.edit-comment {
  position: relative;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: inherit !important;
  background: #333;
  color: #fff;
  display: inline-block;
  margin: 5px 0;
  padding: 2px 15px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50px;
}

.text-bold, .comment-reply-title {
  margin-bottom: 30px;
}

#reply-title {
  margin-bottom: -8px;
  font-size: 24px;
}

.comment-form-comment label {
  display: none;
}

.comment-form .submit {
  margin-top: 30px;
  border: none;
}

.depth-2 {
  margin-bottom: 20px
}

/* formats */

.format-standard .post-thumb, .format-status .post-thumb, .format-gallery .post-thumb, .format-quote .post-thumb, .format-link .post-thumb, .format-image .post-thumb, .format-chat .post-thumb {
  overflow: hidden;
  /* margin-bottom: 30px; */
}

.post-thumb img {
  width: 100%;
  height: inherit;
  display: block;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.format-aside p {
  margin: 0;
}

.format-gallery .post-thumb .flexslider {
  margin: 0;
}

.format-video .media-element {
  padding: 0px;
}

.format-chat .chat-transcript {
  color: #908f8f;
}

.format-chat .chat-transcript p {
  padding: 7px 10px;
  margin: 4px 0;
}

.format-chat .chat-transcript p:nth-child(even) {
  background: #f5f5f5;
}

.entry-title a:hover {
  color: #F37A5C;
}

.page-title {
  margin-bottom: 30px;
}

.entry-meta {
  margin: -12px 0 0;
  font-size: 14px;
  padding: 0 0 20px 0;
  text-transform: capitalize;
}

.entry-meta li, .blog-meta ul li {
  display: inline-block;
  padding: 2px 6px;
  position: relative;
  background-clip: padding-box;
}

.entry-meta li a, .blog-meta ul li a {
  display: -webkit-inline-box;
}

.entry-meta li:first-child, .blog-meta li:first-child {
  padding-right: 0;
}

.accent {
  border-bottom: 1px solid #fe544a;
  width: 50px;
  margin-bottom: 40px;
  margin-top: -1px;
}

.single .entry-meta {
  margin-top: 30px
}

.single-post .entry-meta {
  margin-top: 0px
}

.entry-meta a:hover {
  color: #202222;
}

.entry-meta .post-icon {
  position: relative;
  top: -2px;
}

.entry-meta>span {
  margin-left: 11px;
}

.entry-meta span:before {
  font-family: 'FontAwesome';
  font-size: 14px;
  padding-left: 10px;
}

.entry-meta .edit:before {
  content: '\f044';
  position: relative;
  top: 1px;
}

.read-more {
  margin: 20px 0 0 !important;
}

.more-link {
  margin: 0 !important;
  color: #fff !important;
}

/* Link / Quote Post Format ------------- */

.format-quote .entry-media, .format-status .entry-media, .format-link .entry-media {
  padding: 30px;
  background-repeat: repeat;
  background-position: center center;
}

.content-quote-format-wrapper {
  float: right;
  width: 100%;
  height: auto;
}

.content-quote-format-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.content-quote-format-textwrap {
  position: relative;
  z-index: 2;
}

.format-status .entry-media h3 {
  margin: 0;
}

.format-quote .entry-media h3, .format-link .entry-media h3, .entry-media h3 a {
  font-size: 14px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
  color: #fff;
  text-decoration: none;
}

.format-quote .entry-media p, .format-link .entry-media p a {
  color: #fff;
  font-size: 16px;
  width: 100%;
  margin: 0;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.content-quote-format-textwrap h3 span[class*='icon-'] {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  margin-left: 5px;
}

/* Entry Status - Twitter */

.hentry .entry-status-twitter .twitter-tweet-rendered {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 auto !important;
  border: none !important;
  box-shadow: none !important;
}

.format-status .entry-media h3 {
  margin: -17px 0 0;
}

.uppercase {
  text-transform: uppercase;
}

.right .breadcrumbs {
  text-align: center;
}

.breadcrumbs.left {
  text-align: center;
}

.container.bootstrap {
  margin-right: auto !important;
  margin-left: auto !important;
}

.entry-title a:hover {
  color: #0db8ca;
}

.entry-title a {
  color: #222222;
}

span.breadcrumb-current {
  color: #FFED91;
}

#blog {
  position: relative;
  margin-bottom: 120px;
}

.entry-title {
  font-weight: 400;
}

a.button-post {
  background: rgba(76, 143, 255, 0.8);
  border: 1px solid #4c8fff;
  width: 160px;
  line-height: 40px;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  margin-left: 10px;
}

a.button-post:hover {
  background: rgba(76, 143, 255, 1);
}

.button-info i.iconi {
  font-size: 120px;
  line-height: 1em;
}

.quote-slider .overlay {
  background: rgba(41, 70, 97, 0.8);
  z-index: 0;
}

.breadcumbs {
  color: #999999;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.breadcumbs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

span.breadcrumb-current {
  color: #4c8fff;
  font-weight: 600;
}

.search-form-input {
  padding: 10px 20px 10px 3px;
}

body.search article .searchform {
  margin: 0 auto;
  width: 73%;
  float: right;
}

body.search article .searchform input[type="text"] {
  float: right;
  line-height: 30px;
  width: 80%;
  padding: 9px 15px 7px 0;
  font-size: 12px;
  color: #222222;
  background: #efefef;
  border: 1px solid #efefef;
  height: 48px;
}

body.search article .searchform input[type="submit"] {
  float: right;
  line-height: 43px;
  position: relative;
  width: 20%;
  top: 0px;
  background: #222;
  border: none;
  color: #fff;
}

body.error404 .index .searchform {
  margin: 0 auto;
  width: 73%;
  float: right;
}

body.error404 .index .searchform input[type="text"] {
  outline: 0;
  float: right;
  min-height: 46px;
  width: 80%;
  padding: 9px 15px 7px 0;
  font-size: 12px;
  border: 0px solid #efefef;
  background: #efefef;
}

body.error404 .index .searchform input[type="submit"] {
  float: right;
  min-height: 46px;
  position: relative;
  width: 20%;
  top: 0px;
  background: #222222;
  border: none;
  color: #fff;
}

/* comments */

.container-for-comments {
  background: #fff;
}

label.screen-reader-text {
  display: none;
}

.comment-author-link, .comment-author-link a {
  font-weight: 600;
  color: #3d3d3d;
  display: block;
  margin-top: 5px;
  font-size: 15px;
  font-style: italic;
}

.comment-form-comment {
  color: #222;
}

.container-for-comments .children {
  margin-bottom: 70px;
}

.comments ul {
  margin: 0;
  padding: 0;
  margin: 10px;
}

.comments ul li {
  list-style: none;
}

.comments ul li span .photo {
  padding: 0 !important;
}

.comments ul li .nt-theme-avatar {
  float: right;
  margin-left: 30px;
}

.comments ul li .commentlist {
  margin-right: 100px;
  border: 1px solid #EEE;
  padding: 8px 25px 20px;
}

.children {
  margin-bottom: 30px;
}

.comment-form textarea {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #d7e0e5;
  background-color: #ffffff;
  margin-top: 30px;
}

.comment-form .submit {
  position: relative;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: inherit !important;
  max-width: 150px;
  background: #333;
  color: #fff;
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50px;
}

.comment-form-author, .comment-form-email {
  width: 48%;
  float: right;
}

.comment-form-email {
  margin-right: 4%;
}

/* 7. Footer */

.c-sidebar-1-widget ol li, .c-sidebar-1-widget ul li {
  margin-bottom: 13px;
  position: relative;
  line-height: 30px;
}

.c-sidebar-1-widget ol, .c-sidebar-1-widget ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 21px 0 0;
  margin: 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
}

button, input, select, textarea {
  font-family: inherit;
  outline: 0;
  max-width: 100%;
  border: 1px solid #f1f1f1;
  background: #F7f7f7;
  font-size: 15px;
  padding: 15px;
  line-height: 45px;
}

#particle-ground .pg-canvas {
  position: fixed
}

/* updates for WordPress defaults */

.flexslider {
  padding: 0;
  margin-bottom: 0px;
  border: none;
}

.flex-control-nav {
  /* display: none; */
}

.flex-direction-nav a {
  width: 50px;
  height: 30px;
}

.post-container {
  padding: 0;
}

.entry-meta {
  /* font-weight: 600; */
}

/* Page header  */

.template-cover-text .uppercase {
  /* font-size: 50px; */
  /* margin-left: -4px; */
  margin-bottom: 10px;
  color: #fff;
}

.template-cover-text .col-md-8 {
  color: #fff;
}

.template-cover-style-2>.template-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.template-cover .template-cover-text .cover-text-sublead {
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
}

.index-header {
  position: relative;
}

.index-header {
  height: 65vh;
  position: relative;
  display: table;
  width: 100%;
  background-size: cover;
  background-position: center right;
}

.template-cover {
  min-height: inherit !important;
}

.template-cover-text {
  display: table-cell;
  vertical-align: middle;
  z-index: 1 !important;
}

.index-header h2 {
  margin-bottom: 10px;
}

.breadcrubms {
  text-transform: capitalize;
  color: #fff;
}

.breadcrubms a {
  text-transform: capitalize;
  color: #fff;
}

.scroll-btn {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  z-index: 15;
}

.scroll-btn>* {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
}

.scroll-btn>*:hover, .scroll-btn>*:focus, .scroll-btn>*.active {
  color: #ffffff;
}

.scroll-btn>*:hover, .scroll-btn>*:focus, .scroll-btn>*:active, .scroll-btn>*.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 30px;
  height: 45px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 23px;
}

.scroll-btn .mouse>* {
  position: absolute;
  display: block;
  top: 29%;
  right: 50%;
  width: 2px;
  height: 6px;
  margin: -2px -1px 0 0;
  background: white;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

/* others  */

div.wpcf7-response-output {
  margin: 0;
  padding: 1.2em 1em;
}

.wpcf7-not-valid {
  border: 1px solid #f00 !important;
}

span.wpcf7-not-valid-tip {
  color: #f00;
  font-size: 1em;
  display: block;
  display: none;
}

.wpcf7-response-output.wpcf7-validation-errors {
  display: inline-block !important;
  margin: 15px 0 !important;
  width: 100% !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #f70000;
  background-color: #f70000;
  color: #fff;
}

.footer-btm p {
  text-transform: capitalize;
  margin: 0px;
  color: #fff;
}

div.wpcf7-mail-sent-ok {
  display: inline-block !important;
  margin: 15px !important;
  width: 97.2% !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #398f14;
  background-color: #398f14;
  color: #fff;
}

div.wpcf7-mail-sent-ok {
  background: #398F14;
  border: 2px solid #398f14;
  color: #fff;
}

.wpcf7 button, .wpcf7 input, .wpcf7 select, .wpcf7 textarea {
  display: inline-block;
}

.wpcf7 br {
  display: none;
}

#template-offcanvass ul {
  padding: 60px 0 0;
}

#blog blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-right: 5px solid #eee;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #333;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #333;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #333;
}

/* responsive options

	1200px
	991px
	768px
	480px

*/

@media (max-width: 991px) {
  #widget-area {
    margin: 40px 0 0;
  }
  #widget-area #searchform input[type="text"] {
    width: 90%;
  }
  footer .widget {
    margin-bottom: 40px;
  }
  footer .widget-title {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  #widget-area #searchform {
    position: relative;
    max-height: 50px;
    margin-top: 90px;
  }
  .index-header {
    height: 100vh !important;
  }
}

@media (max-width: 480px) {
  .avatar-class {
    float: none;
    margin-left: 30px;
    margin-bottom: 15px;
    display: block;
  }
  .comment-details, .comments ul li .commentlist {
    margin-right: 0;
  }
  .pager li>a, .pager li>span {
    float: none;
    width: 100%;
  }
  .template-cover-text .uppercase {
    font-size: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
    color: #fff;
  }
  .comment-meta {
    margin-bottom: 15px;
  }
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: inherit;
}

body .wpb_gmaps_widget .wpb_wrapper {
  background-color: #f7f7f7;
  padding: 0px;
}

.blog-medium-container iframe {
  max-width: 100%;
  height: auto;
  min-height: 170px;
}

iframe {
  max-width: 100%;
  height: auto;
  min-height: 420px;
}

.single .blog-post-body ul {
  text-align: right;
}

.comment-meta {
  margin-bottom: 20px;
}

.commentlist li h1 {
  letter-spacing: -0.5px !important;
}

.fn {
  margin-right: 13px;
}

.pingback cite.fn {
  margin: 0;
}

.commentlist p {
  margin: 0 0 20px;
}

#blog, #blog-post {
  margin: 100px 0px 100px 0px;
}

.u-text-hero {
  color: #fff;
}

.breadcrumb span:last-child span {
  color: #fff;
}

.breadcrumb {
  color: #fff;
  font-weight: 300;
}

.single-excerpt {
  color: #fff;
}

.u-text-lead {
  color: #fff;
  margin-bottom: 40px;
}

h5.subheading {
  color: #fff;
}

.hero-innner-last-child {
  width: 100%;
  position: relative;
  z-index: 2;
  /*max-width: 990px;*/
}

iframe {
  border: 0px;
}

.cryptoland-post-class blockquote p:last-child {
  margin-bottom: 5px;
}

.cryptoland-post-class table {
  border-collapse: collapse;
  background-color: transparent;
  margin-bottom: 30px;
  /* font-size: 32px; */
}

.cryptoland-post-class dl {
  margin-top: 0;
  margin-bottom: 20px;
}

.cryptoland-post-class dt {
  font-weight: bold;
}

.cryptoland-post-class dd {
  line-height: inherit;
  margin-bottom: 20px;
}

dd {
  margin-right: 0;
  margin-bottom: 30px;
}

.page-links {
  clear: both;
  margin: 20px 0;
}

.page-links span span {
  margin-left: 0px;
}

.page-links a {
  color: #707070;
  border: 2px solid;
  background: #f0f3f5;
  padding: 3px 9px 4px;
  margin-left: 4px;
  text-align: center;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 14px;
  line-height: 40px;
  border-radius: 7px;
  border-style: solid;
  border-color: #f0f3f5;
}

span.page-links-title {
  border: 2px solid #373737;
  background: #373737;
  padding: 5px 17px 8px;
  color: #ffffff;
  border-radius: 7px;
  margin-left: 4px;
}

.page-links .current {
  color: #ffffff;
  border: 2px solid #8b5bae;
  background: #8c58b0;
  padding: 3px 9px 4px;
  margin-left: 4px;
  text-align: center;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 14px;
  line-height: 40px;
  border-radius: 7px;
  border-style: solid;
}

.btn-primary {
  color: #fff;
  background-color: #17b9cc;
  border-color: #17b9cc;
}

.btn-primary:hover {
  color: #fff;
  background-color: #25b47d;
  border-color: #26b47c;
}

form.c-sidebar-1-search-form .c-sidebar-1-search-button {
  margin-top: 0
}

/* bootstrap table-striped */

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  font-size: 15px;
  border-top: 1px solid #dddddd;
}

.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
  border-top: 0;
}

.table>tbody+tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border: 1px solid #dddddd;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
  border-bottom-width: 2px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover>tbody>tr:hover {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}

table td[class*="col-"], table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

.table>thead>tr>td.active, .table>tbody>tr>td.active, .table>tfoot>tr>td.active, .table>thead>tr>th.active, .table>tbody>tr>th.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>tbody>tr.active>td, .table>tfoot>tr.active>td, .table>thead>tr.active>th, .table>tbody>tr.active>th, .table>tfoot>tr.active>th {
  background-color: #f5f5f5;
}

.table-hover>tbody>tr>td.active:hover, .table-hover>tbody>tr>th.active:hover, .table-hover>tbody>tr.active:hover>td, .table-hover>tbody>tr:hover>.active, .table-hover>tbody>tr.active:hover>th {
  background-color: #e8e8e8;
}

.table>thead>tr>td.success, .table>tbody>tr>td.success, .table>tfoot>tr>td.success, .table>thead>tr>th.success, .table>tbody>tr>th.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>tbody>tr.success>td, .table>tfoot>tr.success>td, .table>thead>tr.success>th, .table>tbody>tr.success>th, .table>tfoot>tr.success>th {
  background-color: #dff0d8;
}

.table-hover>tbody>tr>td.success:hover, .table-hover>tbody>tr>th.success:hover, .table-hover>tbody>tr.success:hover>td, .table-hover>tbody>tr:hover>.success, .table-hover>tbody>tr.success:hover>th {
  background-color: #d0e9c6;
}

.table>thead>tr>td.info, .table>tbody>tr>td.info, .table>tfoot>tr>td.info, .table>thead>tr>th.info, .table>tbody>tr>th.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>tbody>tr.info>td, .table>tfoot>tr.info>td, .table>thead>tr.info>th, .table>tbody>tr.info>th, .table>tfoot>tr.info>th {
  background-color: #d9edf7;
}

.table-hover>tbody>tr>td.info:hover, .table-hover>tbody>tr>th.info:hover, .table-hover>tbody>tr.info:hover>td, .table-hover>tbody>tr:hover>.info, .table-hover>tbody>tr.info:hover>th {
  background-color: #c4e3f3;
}

.table>thead>tr>td.warning, .table>tbody>tr>td.warning, .table>tfoot>tr>td.warning, .table>thead>tr>th.warning, .table>tbody>tr>th.warning, .table>tfoot>tr>th.warning, .table>thead>tr.warning>td, .table>tbody>tr.warning>td, .table>tfoot>tr.warning>td, .table>thead>tr.warning>th, .table>tbody>tr.warning>th, .table>tfoot>tr.warning>th {
  background-color: #fcf8e3;
}

.table-hover>tbody>tr>td.warning:hover, .table-hover>tbody>tr>th.warning:hover, .table-hover>tbody>tr.warning:hover>td, .table-hover>tbody>tr:hover>.warning, .table-hover>tbody>tr.warning:hover>th {
  background-color: #faf2cc;
}

.table>thead>tr>td.danger, .table>tbody>tr>td.danger, .table>tfoot>tr>td.danger, .table>thead>tr>th.danger, .table>tbody>tr>th.danger, .table>tfoot>tr>th.danger, .table>thead>tr.danger>td, .table>tbody>tr.danger>td, .table>tfoot>tr.danger>td, .table>thead>tr.danger>th, .table>tbody>tr.danger>th, .table>tfoot>tr.danger>th {
  background-color: #f2dede;
}

.table-hover>tbody>tr>td.danger:hover, .table-hover>tbody>tr>th.danger:hover, .table-hover>tbody>tr.danger:hover>td, .table-hover>tbody>tr:hover>.danger, .table-hover>tbody>tr.danger:hover>th {
  background-color: #ebcccc;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}

@media screen and (max-width: 480px) {
  #comments ul li.comment .comment-meta, #comments ol li.comment .comment-meta {
    font-size: 13px
  }
  .comment-body {
    padding: 25px 15px;
  }
  ol li:not(.pingback) .comment-meta {
    float: none;
    margin-right: 0;
    color: #818a9c;
    position: relative;
    margin-top: 18px;
    top: 0px;
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
  .table-responsive>.table {
    margin-bottom: 0;
  }
  .table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td {
    white-space: nowrap;
  }
  .table-responsive>.table-bordered {
    border: 0;
  }
  .table-responsive>.table-bordered>thead>tr>th:first-child, .table-responsive>.table-bordered>tbody>tr>th:first-child, .table-responsive>.table-bordered>tfoot>tr>th:first-child, .table-responsive>.table-bordered>thead>tr>td:first-child, .table-responsive>.table-bordered>tbody>tr>td:first-child, .table-responsive>.table-bordered>tfoot>tr>td:first-child {
    border-right: 0;
  }
  .table-responsive>.table-bordered>thead>tr>th:last-child, .table-responsive>.table-bordered>tbody>tr>th:last-child, .table-responsive>.table-bordered>tfoot>tr>th:last-child, .table-responsive>.table-bordered>thead>tr>td:last-child, .table-responsive>.table-bordered>tbody>tr>td:last-child, .table-responsive>.table-bordered>tfoot>tr>td:last-child {
    border-left: 0;
  }
  .table-responsive>.table-bordered>tbody>tr:last-child>th, .table-responsive>.table-bordered>tfoot>tr:last-child>th, .table-responsive>.table-bordered>tbody>tr:last-child>td, .table-responsive>.table-bordered>tfoot>tr:last-child>td {
    border-bottom: 0;
  }
}

span.page-numbers.dots {
  margin: 0px 0px 0 15px;
}

.search-form-page-container .c-sidebar-1-search-form {
  background: #fff;
  padding: 10px 20px;
  margin: 0 auto;
}

.search-form-page-container .c-sidebar-1-search-form .c-sidebar-1-search-button {
  position: absolute;
  top: 9px;
  left: 9px;
}

.blog-post-tag .c-blog-3-info-meta-link:after {
  content: ",";
}

ul.c-blog-2-info-meta.single-hero li, ul.c-blog-2-info-meta.single-hero li a {
  color: #ffffff;
  font-weight: 700;
}

.hero-content {
  width: 100%;
}

.c-sidebar-1-widget .menu {
  display: inherit;
}

.body-inner-class {
  line-height: 1.5;
}

p.logged-in-as a {
  color: #808080;
}

p.nocomments.text-center {
  background: #333;
  color: #fff;
  padding: 15px;
  border-radius: 7px;
}

.comments-area .page-post-2-title span {
  color: #895faa;
}

.c-sidebar-1-widget select {
  width: 100%;
  height: 45px;
}
.menu__item.item-has-children a:after {
    opacity: 0 !important;
}
