#setting-error-tgmpa, #setting-error-cryptoland {display: block !important;}
.rwmb-divider-wrapper hr {
    border-top: 4px solid #F1F1F1 !important;
    margin: 20px -12px 20px;
}
.rwmb-heading-wrapper h4 {
    display: block;
    font-size: .75rem;
    line-height: 1.4;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 0 20px 10px;
    font-weight: 700;
    margin: 0 -12px 6px;
}

.rwmb-heading-wrapper h4 {
    border-bottom: 0 !important;
    text-transform: none !important;
    padding: 6px 16px 8px!important;
    font-weight: 700!important;
    margin: -33px 0px 6px -12px!important;
    background: #0073AA!important;
    color: #FFFFFF!important;
    width: 99.3%;
}

.rwmb-tab-panel .rwmb-thickbox_image-wrapper ul li {
	display: inline-block;
    position: relative;
}

.rwmb-image-item .rwmb-media-preview {
    width: 150px;
    background: #eee;
}

.vc_license-activation-notice {
    display: none!important;
}
.hide-color-picker {
    display: inherit !important;
}
.rwmb-tab-nav {
    margin-bottom: 22px !important;
}
.rwmb-tab-nav .rwmb-tab-active {
    border: 1px solid #0073aa !important;
    border-bottom-color: transparent !important;
    background: #0073aa !important;
    padding: 2px 10px !important;
}
.rwmb-tab-active a {
    color: #fff !important;
}
.rwmb-tab-panel {
  padding: 25px 11px !important;
}
.rwmb-label {
    width: 25%;
    margin-right: 10% !important;
}
.rwmb-label ~ .rwmb-input {
    width: 65% !important;
}
.rwmb-text_list-non-cloneable:not(.default-column) > .rwmb-input > label, .rwmb-text_list-clone > label {
    width: 47%;
}
.rwmb-text_list-non-cloneable:not(.default-column) > .rwmb-input > label > input, .rwmb-text_list-clone > label > input {
    width: 100%;
}
.rwmb-text_list-non-cloneable p {
    width: 100%;
}
.rwmb-field.rwmb-sidebar-wrapper .rwmb-inline li{ margin-bottom:10px;}

.vc_col-xs-12.wpb_el_type_cryptoland_new_param.vc_wrapper-param-type-cryptoland_new_param.vc_shortcode-param.vc_column {
    border-bottom: 1px solid;
    padding: 7px 0px;
    width: 94%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 20px;
}
body .pt15.vc_shortcode-param.vc_column {
    padding-top: 15px!important;
}
/*OT CUSTOM STYLE*/
.type-radio-image .option-tree-ui-radio-images img {
    width: 60px!important;
    height: 60px!important;
}
.type-radio-image .option-tree-ui-radio-images img.option-tree-ui-radio-image-selected, .type-radio-image .option-tree-ui-radio-images img:hover {
    border-color: #000000!important;
    opacity: 1;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.76)!important;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.76)!important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.76)!important;
    background-color: #ffffffimportant;
}
.option-tree-ui-colorpicker-input-wrap .option-tree-ui-colorpicker-label {
    font-weight: 600;
    color: #00BCD4;
}

div#setting-error-ot_validate_setting_error {
    display: none;
}
#setting-error-ot_validate_setting_error{
	display: none!important;
}
.format-settings select.option-tree-ui-select {
    min-width: 200px;
}
