/*
.wpb_cryptoland_section_secheading .icon_heading, .wpb-layout-element-button .icon_heading{
    background-color: #05edaf;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    background-size: 75% 75%;
    background-position: 50% 50%;
}
*/
.icon_heading {background-image: url(../vc-icon/bold.svg);}
.icon_number {background-image: url(../vc-icon/number.svg);}
.icon_progressbar {background-image: url(../vc-icon/progress-bar.svg);}
.icon_slider {background-image: url(../vc-icon/slider.svg);}
.icon_gallery {background-image: url(../vc-icon/gallery.svg);}
.icon_team {background-image: url(../vc-icon/user.svg);}
.icon_testimonial {background-image: url(../vc-icon/testimonial.svg);}
.icon_video {background-image: url(../vc-icon/video-camera.svg);}
.icon_switch {background-image: url(../vc-icon/switch.svg);}
.icon_timeline {background-image: url(../vc-icon/timeline.svg);}
.icon_partners {background-image: url(../vc-icon/handshake.svg);}
.icon_process {background-image: url(../vc-icon/process.svg);}
.icon_analytics {background-image: url(../vc-icon/analytics.svg);}
.icon_service {background-image: url(../vc-icon/service.svg);}
.icon_app {background-image: url(../vc-icon/app.svg);}
.icon_token {background-image: url(../vc-icon/token.svg);}
.icon_docdownload {background-image: url(../vc-icon/docdownload.svg);}
.icon_advisor {background-image: url(../vc-icon/chat.svg);}
.icon_teamitem {background-image: url(../vc-icon/teamitem.svg);}
.icon_slider {background-image: url(../vc-icon/slider.svg);}
.icon_blogging {background-image: url(../vc-icon/blogging.svg);}
.icon_social {background-image: url(../vc-icon/share.svg);}
.icon_subscribe {background-image: url(../vc-icon/subscribe.svg);}
.icon_chart1 {background-image: url(../vc-icon/chart.svg);}
.icon_list {background-image: url(../vc-icon/list.svg);}
.icon_homepage {background-image: url(../vc-icon/homepage.svg);}
.icon_economy {background-image: url(../vc-icon/money-bag.svg);}
.icon_cases {background-image: url(../vc-icon/cases.svg);}
.icon_steps {background-image: url(../vc-icon/steps.svg);}
.icon_calendar {background-image: url(../vc-icon/calendar.svg);}
.icon_parallax {background-image: url(../vc-icon/parallax.svg);}
.icon_absolute_position {background-image: url(../vc-icon/absolute-position.svg);}
.icon_press {background-image: url(../vc-icon/press.svg);}
.icon_canvas {background-image: url(../vc-icon/canvas.svg);}